#adminmenu .wp-menu-name {
  -webkit-hyphens: manual !important;
          hyphens: manual !important;
}

.manage-column.column-sku,
.manage-column.column-stock_status,
.manage-column.column-schedule {
  width: 100px !important;
}

/* Sync form spinner */
#sync_woo .spinner,
#sync_sheets .spinner {
  float: none !important;
}

.postbox {
  border: none !important;
}

.cform {
  display: flex;
  flex-direction: column;
  gap: 10;
  width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.cform input[type=file],
.cform input[type=number],
.cform input[type=date],
.cform input[type=clear_all],
.cform input[type=csv_clear],
.cform select[name=category],
.cform select[name=selected_tag],
.cform select[name=clear_category] {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.cform .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cform .btn.nopadding {
  margin-top: 0;
}

.cform .btn:hover {
  cursor: pointer;
}

.cform .btn.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.cform .btn.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.cform .btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.cform .btn.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.cform .btn.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.cform .btn-danger.focus, .btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.alert {
  display: block;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
